.root,
GridPane{                   /* .root was applying "weakly", causing gridpanes to be semi-transparent*/
    -fx-background-color: black;
}

Text{
    -fx-fill: whitesmoke;
}
.label{
    -fx-fill: whitesmoke;
}
.text-field,
.text-area{
    -fx-background-color: dimgrey;
}

.button, .toggle-button{
    -fx-text-fill: white;
    -fx-background-color: #1aa9cd;
}

.button:hover, .toggle-button:hover, .toggle-button:selected,
.smallButton:hover ,
.popupButton:hover {
    -fx-background-color: #126c82;
}

.logOutButton:hover ,
.hoverRed:hover {
    -fx-background-color: #ff4251;
}

.eventNode {
    -fx-text-fill: white;
    -fx-background-color: #1AA9CD;
    -fx-effect: dropshadow(one-pass-box, #5969FF, 4, 0, 0, 0);
}

.eventNode:hover {
    -fx-background-color: #1484a0;
}

.eventNode:pressed {
    -fx-background-color: #1795b5;
}

.scroll-bar:horizontal.track,
.scroll-bar:vertical.track{
    -fx-background-color: white;
    -fx-border-color: grey;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button ,
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: #1AA9CD;
}

.scroll-bar:horizontal .increment-button:hover ,
.scroll-bar:horizontal .decrement-button:hover ,
.scroll-bar:vertical .increment-button:hover ,
.scroll-bar:vertical .decrement-button:hover {
    -fx-background-color: #126C82;
}

.scroll-bar:horizontal .increment-button:pressed ,
.scroll-bar:horizontal .decrement-button:pressed ,
.scroll-bar:vertical .increment-button:pressed ,
.scroll-bar:vertical .decrement-button:pressed {
    -fx-background-color: #1795b5;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow,
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-background-color: white;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #1AA9CD;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #126C82;
}
