/*This File holds all the CSS Style commands that are applied to all Nodes in a Scene*/

/*.root applies to everything in a scene and overrides all other commands in this file. Use carefully.*/
.root{
    -fx-background-color: #f4f4f4;
    -fx-spacing: 5px;
}

/*Text applies to any free floating text, does not apply to text in Buttons, TextFields, etc.
"-fx-text-fill" does not work here, use "fx-fill" to color the text instead.*/
Text{
    -fx-font-size: 1.75em;
}


GridPane {
    -fx-vgap: 5px;
    -fx-hgap: 5px;
}

.label{
    -fx-padding: 5 0 0 0;
}

/*The following apply to any object of the corresponding name.*/
.button{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-pref-width: 250px;
    -fx-pref-height: 100px;
    -fx-text-fill: white;
    -fx-background-color: #1aa9cd;
    -fx-background-radius: 222px;
}


/*This is what the button looks like when you hover over it*/
.button:hover {
    -fx-background-color: #126c82;
    -fx-scale-y: 1.1;
}

.text-field{
    -fx-pref-height: 30px;
}

.text-area{
    -fx-pref-height: 105px;
    -fx-pref-width: 400px;
    -fx-wrap-text: true;
    -fx-font-size: 15px;
}

.smallTextArea{
    -fx-pref-height: 40px;

}

.menu-item{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.menu-bar{
    -fx-font-size: .55em;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.combo-box{

}

.list-view{

}


/*The following are custom made presets, and must be applied in the actual code to apply.
for example:      buttonName.getStyleClass().add("smallButton");                         */
.smallButton{
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-pref-height: 50px;
    -fx-pref-width: 150px;
}

.tinyButton{
    -fx-pref-width: 90px;
    -fx-pref-height: 25px;
    -fx-font-size: 12;
}

.smallButton:hover {
    -fx-background-color: #126c82;
    -fx-scale-y: 1.1;
}


.logOutButton:hover {
    -fx-background-color: #ff4251;
    -fx-scale-y: 1.1;
}

.headertext{
    -fx-font-size: 24;
}

.smallText{
    -fx-font-size: 1em;
}

/*Here is a list of useful CSS commands:
-fx-text-fill: black; (sets text color)
-fx-font-size: 1.5em; (sets text size)
-fx-font-family: serif; (sets text font)
-fx-font-weight: bold; (sets hold bold the text is)
-fx-font-style: italic; (sets text to be italic)
-fx-background-color: black; (sets background color)
-fx-border-color: black; (sets the color of the border for that object)
-fx-border-width: 2em; (sets the width of the border)
-fx-border-style: dotted; (makes neat little patterns for the border)
-fx-focus-color: #000000; (sets the color that highlights the object when it has focus)
*/