.DisabledAnyways, .DisabledAnyways > * {
    -fx-opacity: .4 !important;
}

*:disabled, *:disabled > * {
    -fx-opacity: 1;
    /*-fx-background-color: #f4f4f4;
    -fx-font-size: 120%; */
}

.text-field, .text-area {
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
}

.spinner:disabled .increment-arrow-button .increment-arrow,
.spinner:disabled .decrement-arrow-button .decrement-arrow {
    -fx-padding: 0px;
}

.spinner:disabled .increment-arrow-button {
    -fx-padding: 3 7 3 7;
}

.spinner:disabled .decrement-arrow-button {
    -fx-padding: 2 7 5 7;
}

